# More on Dictionary

# Dictionary in Dictionary

In [8]:
multiDic = {
    'python':{'Nisar': 4, 'Hamza':9, 'Ali':8 },
    'java':{'Nisar': 7, 'Hamza':5, 'Ali':6},
    'Js':{'Nisar': 10, 'Hamza':5, 'Ali':9}
    
}
multiDic

{'python': {'Nisar': 4, 'Hamza': 9, 'Ali': 8},
 'java': {'Nisar': 7, 'Hamza': 5, 'Ali': 6},
 'Js': {'Nisar': 10, 'Hamza': 5, 'Ali': 9}}

# Access The Dictionary

In [10]:
multiDic['java']

{'Nisar': 7, 'Hamza': 5, 'Ali': 6}

In [11]:
multiDic['python']

{'Nisar': 4, 'Hamza': 9, 'Ali': 8}

In [9]:
multiDic['java']['Ali']

6

In [13]:
# Update

multiDic['python']['Nisar']= 10
multiDic

{'python': {'Nisar': 10, 'Hamza': 9, 'Ali': 8},
 'java': {'Nisar': 7, 'Hamza': 5, 'Ali': 6},
 'Js': {'Nisar': 10, 'Hamza': 5, 'Ali': 9}}

In [17]:
type(multiDic)

dict

# Dictionary in List

In [15]:
dic = []
dic.append({'Country':'US'})
dic

[{'Country': 'US'}]

In [16]:
type(dic)

list

In [18]:
dic.append({'Subject':'English'})
dic

[{'Country': 'US'}, {'Subject': 'English'}]

In [22]:
dic[1]['Subject']

'English'

In [19]:
dic[2]['Subject']

IndexError: list index out of range

In [33]:
# use int, float, bool, set, tuple, dic , list
miscList = [100, 50.5 , True, 'Nisar',{200}, (1000,5000),{'Country':'Pakistan'}, [3,4,5]]

In [34]:
miscList

[100,
 50.5,
 True,
 'Nisar',
 {200},
 (1000, 5000),
 {'Country': 'Pakistan'},
 [3, 4, 5]]

In [26]:
miscList[4]

{200}

In [27]:
miscList[7]

[3, 4, 5]

In [28]:
miscList[6]

{'Country': 'Pakistan'}

In [29]:
# Copy

newDic = miscList
newDic

[100,
 50.5,
 True,
 'Nisar',
 {200},
 (1000, 5000),
 {'Country': 'Pakistan'},
 [3, 4, 5]]

# Python FUNCTIONs
   - A function is a block of code which only runs when it is called.

    - You can pass data, known as parameters, into a function.

      - A function can return data as a result.

# Creating a Function
   - In Python a function is defined using the def keyword:

In [40]:
def add_two():
    a= 10;
    b= 50;
    print(a+b)

# Calling a Function
   - To call a function, use the function name followed by parenthesis:

In [41]:
add_two()

60

In [42]:
def addTwo():
    a = input('Enter a number');
    b = input('Enter a number');
    print(a+b)
addTwo()

Enter a number100
Enter a number6
1006

In [44]:
def addTwo():
    a = float(input('Enter a number: '));
    b = float(input('Enter a number: '));
    print(a+b)
addTwo()

Enter a number: 50
Enter a number: 100
150.0

In [4]:
def students_detail():
    name = input("Enter your Name: ")
    father = input("Enter your Father Name: ")
    rollNum = input("Enter your Roll Number: ")
    course = input("Enter your Course: ")
    timings = input("Enter your Time: ")
    institute= input ("Enter your Institution Name: ")
    
    print(f"""
    
    ******    Students Card    ******
    
    Name of Student: {name}
    Father Name    : {father}
    Roll Number    : {rollNum}
    Course         : {course}
    Timings        : {timings}
    Institute      : {institute}
    """)
    # tripple quoates allow us to wrirte a string in multiple lines

In [5]:
students_detail()

Enter your Name: Mariya Waseem
Enter your Father Name: Waseem Ahmed
Enter your Roll Number: 23474456
Enter your Course: Python Programming Language
Enter your Time: 9 to 11
Enter your Institution Name: Saylani Mass IT Program


    ******    Students Card    ******

    Name of Student: Mariya Waseem
    Father Name    : Waseem Ahmed
    Roll Number    : 23474456
    Course         : Python Programming Language
    Timings        : 9 to 11
    Institute      : Saylani Mass IT Program