# List slicing

In [ ]:
# List slicing refers to accessing a specific portion or a subset of the list 
# for some operation while the orginal list remains unaffected. 

# The slicing operator in python can take 3 parameters out of which 2
# are optional depending on the requirement.

# The direction of slicing is left t0 right.
# There will be no syntax error in case of wrong slicing but the result 
# is empty list

In [2]:
num = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20]  #list
num[12]  #indexing

13

In [3]:
print(type(num[12]))

<class 'int'>

In [10]:
num1 = [1, 3,5,7,9,2,4,6,8,11,13,15,17,19,12,14,16,18,20]
num1

[1, 3, 5, 7, 9, 2, 4, 6, 8, 11, 13, 15, 17, 19, 12, 14, 16, 18, 20]

In [11]:
# want to get 6 t0 15
num1[7:12]   # Last index will not include.

[6, 8, 11, 13, 15]

In [12]:
# get only 11
num1[9:10]

[11]

In [ ]:
# we can copy the slice

In [14]:
my_slice = num[5:10]
print(my_slice_slice)

[6, 7, 8, 9, 10]

In [15]:
my_slice    # COPY NEW SLICE

[6, 7, 8, 9, 10]

In [16]:
my_slice[10:5]  # we can't reverse the slice , it will return an emppy slice

[]

In [17]:
# start from 11 and go to very last
num1[9:]

[11, 13, 15, 17, 19, 12, 14, 16, 18, 20]

In [19]:
# start from very begining and go to 15
num1[:12]

[1, 3, 5, 7, 9, 2, 4, 6, 8, 11, 13, 15]

In [26]:
# start from 0 and go to very last
num1[:]

[1, 3, 5, 7, 9, 2, 4, 6, 8, 11, 13, 15, 17, 19, 12, 14, 16, 18, 20]

# Copying a list

In [41]:
# method 1
# By using copy function

new = num1.copy()
print(new)

[1, 3, 5, 7, 9, 2, 4, 6, 8, 11, 13, 15, 17, 19, 12, 14, 16, 18, 20]

In [48]:
# method 2

my_new_list = num1[0:20+1]
my_new_list

[1, 3, 5, 7, 9, 2, 4, 6, 8, 11, 13, 15, 17, 19, 12, 14, 16, 18, 20]

In [29]:
 # EXAMPLE 1
a = 100;
b = a;

In [31]:
# pass by reference
id(a)

1732501264

In [32]:
id(b)

1732501264

In [34]:
c = 100
id (c)             #because the value is 100 thats why the ids are same

1732501264

# Update List

In [43]:
my_new_list

[1, 3, 5, 7, 9, 2, 4, 6, 8, 11, 13, 15, 17, 19, 12, 14, 16, 18, 20]

In [49]:
my_new_list[4]= 'nine'
my_new_list

[1, 3, 5, 7, 'nine', 2, 4, 6, 8, 11, 13, 15, 17, 19, 12, 14, 16, 18, 20]

In [50]:
# num[ starting index: ending index : step ]
my_new_list[1:10:2]

[3, 7, 2, 6, 11]

In [ ]:
# gap 2 digits

In [51]:
my_new_list[::2]

[1, 5, 'nine', 4, 8, 13, 17, 12, 16, 20]

# Reverse Slicing

In [52]:
my_new_list[::-2]

[20, 16, 12, 17, 13, 8, 4, 'nine', 5, 1]

In [65]:
my_new_list

[1, 3, 5, 7, 'nine', 2, 4, 6, 8, 11, 13, 15, 17, 19, 12, 14, 16, 18, 20]

In [63]:
my_new_list[::-1]  # REVERSE

[20, 18, 16, 14, 12, 19, 17, 15, 13, 11, 8, 6, 4, 2, 'nine', 7, 5, 3, 1]

In [6]:
para= 'we are Learning python'

In [7]:
print(len(para))

22

In [8]:
para[2:8]

' are L'

In [9]:
para[1:20]

'e are Learning pyth'

# LOOPs

In [ ]:
# A Python for loop iterates over an object until that object is complete.
# For instance, you can iterate over the contents of a list or a string.


#Loops allow you to repeat similar operations in your code.


# To reduce the code we use Loop

In [9]:
staff_list = ['Hira', 'Mano', 'Ria', 'Sairah']

In [10]:
print(f"Weldone {staff_list}")

Weldone ['Hira', 'Mano', 'Ria', 'Sairah']

In [13]:
# weldone to all staff
print(f"Weldone {staff_list[0]}")
print(f"Weldone {staff_list[1]}")
print(f"Weldone {staff_list[2]}")
print(f"Weldone {staff_list[3]}")

Weldone Hira
Weldone Mano
Weldone Ria
Weldone Sairah

In [ ]:
# if we do this in loop methods so the code will reduce

In [16]:
for staff in staff_list:
    print(f'weldone {staff}');

weldone Hira
weldone Mano
weldone Ria
weldone Sairah

In [18]:
# EXAPMLE 2
para= 'we are Learning python';
for character in para:
    print(character, end="");

we are Learning python

In [20]:
# EXAPMLE 3
for character in "para":
    print(character*10);

pppppppppp
aaaaaaaaaa
rrrrrrrrrr
aaaaaaaaaa

In [21]:
# EXAPMLE 4              
for digit in 100000:     #we just use iterable
    print('digit')

TypeError: 'int' object is not iterable

In [23]:
# EXAPMLE 5
for digit in '100000':     
    print(digit)

1
0
0
0
0
0

# for Loops Python: Using range()

In [ ]:
# The range() function creates a sequence of numbers in a given range.
# You can use range() to specify how many times a loop should iterate.
# When used with len(), range() lets us create a list with a length 
# equal to the number of values in an object.

In [24]:
for a in range(5):
    print(a, end='');

01234

In [26]:
for a in range(1, 25):
    print(a, end='');

123456789101112131415161718192021222324

In [11]:
# Reverse direction

for a in range(25, 1):
    print(a, end='');

In [6]:
#step wise

In [9]:
for a in range(1,25,2):
    print(a, end=" ")

1 3 5 7 9 11 13 15 17 19 21 23

In [13]:
for a in range(25,1,-2):
    print(a, end=' ');

25 23 21 19 17 15 13 11 9 7 5 3

# For Loop Keywords

- Continue
- Break
- else

In [1]:
# Example 1

for nums in range(1,11):
    print(nums);

1
2
3
4
5
6
7
8
9
10

In [2]:
# Example 1 b

for nums in range(1,11):
    print(nums)
# condition apply
    if nums == 7:
        break              # cancel the iteration after the 7

1
2
3
4
5
6
7

In [7]:
for nums in range(1,11):
    if nums ==7:
        continue      # it skip the print value
    print(nums)

1
2
3
4
5
6
8
9
10

# Write A Programm to Check if user given input  is Odd or Even

In [9]:
num = int(input('Enter a number'));
if num%2== 0:
    print(f'The {num} is Even Number');
else:
    print(f'The {num} is Odd Number');

Enter a number7
The 7 is Odd Number

In [10]:
num = int(input('Enter a number'));
if num%2== 0:
    print(f'The {num} is Even Number');
else:
    print(f'The {num} is Odd Number');

Enter a number6
The 6 is Even Number

In [ ]:
# we can use loop

In [14]:
for number in range(5):   # ask 5 times because range is 5
    val = int(input('Enter a number'));
    if val%2== 0:
        print(f'The value {val} is Even Number');
    else:
        print(f'The value {val} is Odd Number');

Enter a number2
The value 2 is Even Number
Enter a number4
The value 4 is Even Number
Enter a number7
The value 7 is Odd Number
Enter a number1
The value 1 is Odd Number
Enter a number12
The value 12 is Even Number

In [32]:
#we can generate a seperate list.

evens=[]
odds=[]

for number in range(5):   # ask 5 times because range is 5
    val = int(input('Enter a number: '));
    if val%2== 0:
        print(f'The value {val} is Even Number ');
        evens.append(val)
    else:
        print(f'The value {val} is Odd Number ');
        odds.append(val)
        
print(f"The even numbers is:  {evens}");
print(f"The odd numbers is:  {odds}")

Enter a number: 24
The value 24 is Even Number
Enter a number: 35
The value 35 is Odd Number
Enter a number: 67
The value 67 is Odd Number
Enter a number: 88
The value 88 is Even Number
Enter a number: 9
The value 9 is Odd Number
The even numbers is:  [24, 88]
The odd numbers is:  [35, 67, 9]

In [29]:
evens

[88]

In [30]:
odds

[23, 45, 67, 99]

# Multiple inputs

In [36]:

# use split to seperate the value

nums = input('Enter your favorite numbers').split(',')
nums

Enter your favorite numbers23,45,67,789,24,6,7,2,4,7,5,6,77,4,44,89,100,42,14

['23',
 '45',
 '67',
 '789',
 '24',
 '6',
 '7',
 '2',
 '4',
 '7',
 '5',
 '6',
 '77',
 '4',
 '44',
 '89',
 '100',
 '42',
 '14']

In [3]:
num = input('Enter your Favorite numbers: ').split(',')
even=[]
odd=[]

for a in num:
    if int(a)%2==0:
        even.append(a)
    else:
        odd.append(a)
print(f'The Even number is:  {even}')
print(f'The Odd number is:  {odd}')

Enter your Favorite numbers: 23,66,70,40,83,77
The Even number is:  ['66', '70', '40']
The Odd number is:  ['23', '83', '77']