# List

In [ ]:
# Its a construct of data structure 

# Lists are used to store multiple items in a single variable.
# Lists are one of 4 built-in data types in Python used to
# store collections of data

# List are mutable

In [4]:
country_name = ['Pakistan', 'Islamabad']

In [5]:
print(type(country_name))

<class 'list'>

# Indexing

In [ ]:
# The index() method returns the index of the specified element in the list.
   #  - Forward Indexing
   #  - Reverse Indexing

# Indexing always start from zero

In [13]:
# get the index element

country_name

['Pakistan', 'Islamabad']

In [7]:
country_name[0]

'Pakistan'

In [8]:
country_name[1]

'Islamabad'

In [20]:
# If we get index 

fruit = ['apple', 'banana','orange', 'grapes']
index = fruit.index('grapes')

print(index)

3

In [21]:
fruit.index('apple')

0

In [19]:
# get the index 

animals = ['cat', 'dog', 'rabbit', 'horse']


index= animals.index('dog')


print(index)

# Output: 1

1

# 1: Forward Indexing

In [ ]:
# Starts from left to right 
# Forward indexing starts form 0, 1, 2…

In [22]:
stud_list = ['fahad', 'aleem', 'khan', 'sheikh', 'umair']
print(stud_list[0])

fahad

In [30]:
index = stud_list.index('aleem')
print(stud_list)

['fahad', 'aleem', 'khan', 'sheikh', 'umair']

In [ ]:
# ['fahad', 'aleem', 'khan', 'sheikh', 'umair']
#    0    ,    1   ,   2   ,   3     ,    4

# Reverse Indexing

In [ ]:
# start from right to left
# revers indexing starts form  -1, -2, -3…

In [31]:
stud_list

['fahad', 'aleem', 'khan', 'sheikh', 'umair']

In [ ]:
# ['fahad', 'aleem', 'khan', 'sheikh', 'umair']
#    -5   ,    -4  ,   -3  ,    -2  ,   -1

In [32]:
stud_list[-3]

'khan'

In [33]:
stud_list[-5]

'fahad'

In [37]:
print(stud_list[4])     # FORWARD
print(stud_list[-4])    # REVERSE

umair
aleem

In [38]:
# LENGTH

len(stud_list)

5

# List of integer

In [ ]:
# List[int] means that the function should return a list of integers.

In [39]:
marks = [9,7,6,7,8,9,4,5,6,7,8,9,10,10]
type(marks)

list

In [41]:
marks[8]

6

In [40]:
type(marks[8])

int

In [ ]:
# We can make any data type of list
# list can be int, string, float, bool

In [77]:
mix = ['python', 100, 50.5, True]
print(mix)

['python', 100, 50.5, True]

In [44]:
mix[0]

'python'

In [45]:
type(mix[0])

str

In [46]:
mix[1]

100

In [47]:
type(mix[1])

int

In [48]:
mix[2]

50.5

In [49]:
type(mix[2])

float

In [50]:
mix[3]

True

In [51]:
type(mix[3])

bool

In [ ]:
# We can make list in a list

In [78]:
mix = ['python', 100, 50.5, True, marks]

In [79]:
mix

['python', 100, 50.5, True, [9, 7, 6, 7, 8, 9, 4, 5, 6, 7, 8, 9, 10, 10]]

In [57]:
# access
mix[2]

50.5

In [58]:
mix[4]

[9, 7, 6, 7, 8, 9, 4, 5, 6, 7, 8, 9, 10, 10]

In [ ]:
# if we want to get 4

In [59]:
mix[4][6]

4

# List function

In [80]:
# add a new element in list
# add an elemnt in last

mix.append('i am new')
mix

['python',
 100,
 50.5,
 True,
 [9, 7, 6, 7, 8, 9, 4, 5, 6, 7, 8, 9, 10, 10],
 'i am new']

In [81]:
# Update a list

mix[1]='hundred'
mix

['python',
 'hundred',
 50.5,
 True,
 [9, 7, 6, 7, 8, 9, 4, 5, 6, 7, 8, 9, 10, 10],
 'i am new']

In [82]:
# if we want to delete
# delete function cant be return after deleting

del mix[1]
mix

['python',
 50.5,
 True,
 [9, 7, 6, 7, 8, 9, 4, 5, 6, 7, 8, 9, 10, 10],
 'i am new']

In [93]:
# if we want to clear a list
# Once we clear can't access

mix.clear()
mix

[]

In [107]:
num = [1,2,3,4,5, 5, 7, 8,3,5,3,7,22,6,3]
print(num)

[1, 2, 3, 4, 5, 5, 7, 8, 3, 5, 3, 7, 22, 6, 3]

In [116]:
new = num.copy()
print(new)

[1, 2, 3, 4, 5, 5, 7, 8, 3, 5, 3, 7, 22, 6, 3]

In [102]:
# wants to count a number

new.count(3)

4

In [117]:
# Extend list by appending elements from the iterable.

new.extend(num)
print(new)

[1, 2, 3, 4, 5, 5, 7, 8, 3, 5, 3, 7, 22, 6, 3, 1, 2, 3, 4, 5, 5, 7, 8, 3, 5, 3, 7, 22, 6, 3]

In [144]:
# Insert object before index.
# It takes 2 arguement (index, object, /)

new.insert(1 , 'two')
print(new)

[1, 'two', 'two', 2, 3, 4, 5, 7, 8, 3, 5, 3, 7, 22, 6, 3, 1, 2, 3, 4, 5, 5, 7, 8, 3, 5, 3, 7, 22, 6, 3]

In [128]:
# Delete only the value from the end of list but return the deleted value and 
# delete from your desire
# Remove and return item at index (default last).


alp = ['a' , 'b', 'c', 'd']
alp

['a', 'b', 'c', 'd']

In [126]:
alp.pop(2)

'c'

In [127]:
alp

['a', 'b', 'd']

In [138]:
# Reverse
# Reverse *IN PLACE*.

alp.reverse()

In [139]:
alp

['d', 'c', 'b', 'a']

In [145]:
print(new)

[1, 'two', 'two', 2, 3, 4, 5, 7, 8, 3, 5, 3, 7, 22, 6, 3, 1, 2, 3, 4, 5, 5, 7, 8, 3, 5, 3, 7, 22, 6, 3]

In [150]:
# sort
#  Stable sort *IN PLACE*.

new1 = [1 ,2, 3, 4, 5, 7, 8,2, 3, 4, 5, 5, 7, 8, 3, 5, 3, 7, 22, 6, 3]
new1

[1, 2, 3, 4, 5, 7, 8, 2, 3, 4, 5, 5, 7, 8, 3, 5, 3, 7, 22, 6, 3]

In [153]:
new1.sort(reverse=True)
new1

[22, 8, 8, 7, 7, 7, 6, 5, 5, 5, 5, 4, 4, 3, 3, 3, 3, 3, 2, 2, 1]

In [154]:
new1.sort(reverse=False)
new1

[1, 2, 2, 3, 3, 3, 3, 3, 4, 4, 5, 5, 5, 5, 6, 7, 7, 7, 8, 8, 22]