# What is the diff b/w For Loop and while loop

While Loop:
- is a condition based loop
- while loop is defined number of times but unconditional based.
- we can break the keyword to break the loop

In [1]:
a = 0
while a<10:  #a is greater than 10
    print('Hello', a);
    a+=1  # condition
print('i am out')

Hello 0
Hello 1
Hello 2
Hello 3
Hello 4
Hello 5
Hello 6
Hello 7
Hello 8
Hello 9
i am out

In [2]:
# reverse

a = 10
while a>0: # until A is less than zero the while loop is continue running
    print('hello', a);
    a-=1
print('i am out of while')

hello 10
hello 9
hello 8
hello 7
hello 6
hello 5
hello 4
hello 3
hello 2
hello 1
i am out of while

# For Loop

- For loop is a executed defined number of times,We can use break keyword to break the loop

In [3]:
for num in range(10):
    print('hello', num)

hello 0
hello 1
hello 2
hello 3
hello 4
hello 5
hello 6
hello 7
hello 8
hello 9

In [4]:
# EXAMPLE 1(a)

dishes=[]

for a in range(3):
    x=input('Enter your favorite dishes: ');
    dishes.append(x)
print(dishes)

Enter your favorite dishes: biryani
Enter your favorite dishes: tikka
Enter your favorite dishes: chinees
['biryani', 'tikka', 'chinees']

In [ ]:
# if user has only 2 favorite dishes

In [8]:
dishes=[]

for a in range(3):
    x=input('Enter your favorite dishes: ');
    dishes.append(x)
print(dishes)

Enter your favorite dishes: biryani
Enter your favorite dishes: Tikka
Enter your favorite dishes:
['biryani', 'Tikka', '']

- the prob of above code is the 3rd dish has printed an empty,
-  so that if someOne has one fav dish,but he cant break the loop because the range is 3, its a prob while using "for loop" in case..
- so we can use "while loop" instead of "for loop"...

In [3]:
# EXAMPLE 1(b)

dishes=[]
z=0
while z<4:
    x=input('Enter your favorite dishes: ');
    dishes.append(x)
    z+=1
print(dishes)

Enter your favorite dishes: biryani
Enter your favorite dishes: tikka
Enter your favorite dishes: chiness
Enter your favorite dishes: bb
['biryani', 'tikka', 'chiness', 'bb']

In [ ]:
#the prob is that we cant quite so we use another method

# Flag in While Loop:

In [2]:
# EXAMPLE 1(c)

dishes=[]
flag = True
while flag:
    x= input('Enter your favorite dishes and q for quite: ');
    dishes.append(x)
    if x =='q':
        flag = False
print(dishes);

Enter your favorite dishes and q for quite: biryani
Enter your favorite dishes and q for quite: tikka
Enter your favorite dishes and q for quite: q
['biryani', 'tikka', 'q']

- now the user can easily quite wheneven he/she wants ,but the prob is the "q" is also printing .. because firstly "Q" is append, then exist.so we can shift the line of append.

In [2]:
dishes=[]
flag = True
while flag:
    x= input('Enter your favorite dishes and q for quite: ');
    if x =='q':
        flag = False
    else:
        dishes.append(x)
print(dishes);

Enter your favorite dishes and q for quite: biryani
Enter your favorite dishes and q for quite: tikka
Enter your favorite dishes and q for quite: q
['biryani', 'tikka']

In [1]:
# Try this example from "For Loop"
# EXAMPLE 1(d)

dishes=[]

for a in range(5):
    x=input('Enter your favorite dishes and q for quite: ');
    if x=='q':
        break
    else:
        dishes.append(x)
print(dishes)

Enter your favorite dishes and q for quite: biryani
Enter your favorite dishes and q for quite: tikka
Enter your favorite dishes and q for quite: bbq
Enter your favorite dishes and q for quite: q
['biryani', 'tikka', 'bbq']

- here we can quite whenever we wants befor 5th range.but we cant run after 5th range,

# List Packing and unpacking

- List Packing: The pack function takes a list of values to be packed as a second argument and returns a scalar character string containing the packed values.

- list unpacking: Unpacking in Python refers to an operation that consists of assigning an iterable of values to a tuple (or list ) of variables in a single assignment statement.


-The unpack function takes a character string containing the values to be unpacked as a second argument, and returns a list of individual values extracted from the string.

In [3]:
# - List Packing 

fruits_name = ['mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple']
print(fruits_name)

['mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple']

In [4]:
# - List unPacking 

fruit1,fruit2,fruit3,fruit4,fruit5,fruit6 = fruits_name

In [5]:
print(fruits_name)

['mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple']

In [6]:
print(fruit1)

mango

In [7]:
print(fruit4)

orange

In [8]:
print(fruit6)

apple

# TUPLE

- A Tuple is a collection of Python objects separated by commas. In someways a tuple is similar to a list in terms of indexing, nested objects and repetition but a tuple is immutable unlike lists which are mutable. 

-Tuples are used to store multiple items in a single variable

In [12]:
fruits= ('mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple')
print(type(fruits))

<class 'tuple'>

In [13]:
fruits= 'mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple'
print(type(fruits))

<class 'tuple'>

# Access Tuple Items
  - You can access tuple items by referring to the index number, inside square brackets:

In [14]:
fruits

('mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple')

In [3]:
print(fruits[2])

grapes

In [4]:
print(fruits[5])

apple

In [5]:
print(fruits[0])

mango

# Update Tuples

- Tuples are unchangeable, meaning that you cannot change, add, or remove items once the tuple is created.

But there are some workarounds.

# Change Tuple Values

- Once a tuple is created, you cannot change its values. Tuples are unchangeable, or immutable as it also is called.

But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple.

In [ ]:
# Example
# Convert the tuple into a list to be able to change it:

In [15]:
fruits

('mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple')

In [9]:
type(fruits)

tuple

In [16]:
new_fruits= list(fruits)
print(new_fruits)

['mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple']

In [10]:
type(new_fruits)

list

In [17]:
new_fruits[1]="gava"
print(new_fruits)

['mango', 'gava', 'grapes', 'orange', 'pine-apple', 'apple']

# Unpacking a Tuple
 -- When we create a tuple, we normally assign values to it. This is called "packing" a tuple:

In [18]:
fruit1, fruit2, fruit3, fruit4, fruit5, fruit6 = new_fruits

In [19]:
print(fruit1)

mango

In [20]:
print(fruit6)

apple

# Loop Through a Tuple

- You can loop through the tuple items by using a for loop.

In [22]:
this_tuple=('mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple')

for a in this_tuple:
    print(a)

mango
banana
grapes
orange
pine-apple
apple

# Loop Through the Index Numbers

- You can also loop through the tuple items by referring to their index number. Use the range() and len() functions to create a suitable iterable.

In [27]:
this_tuple=('mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple')

for a in range(len(this_tuple)):
    print(this_tuple[a])

mango
banana
grapes
orange
pine-apple
apple

# Using a While Loop

- You can loop through the list items by using a while loop.

- Use the len() function to determine the length of the tuple, then start at 0 and loop your way through the tuple items by refering to their indexes.

- Remember to increase the index by 1 after each iteration.

In [30]:
this_while_loop = ('mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple')

i = 0
while i< len(this_while_loop):
    print(this_tuple[i])
    i+=2

mango
grapes
pine-apple

# Join Two Tuples

- To join two or more tuples you can use the + operator:

In [31]:
tuple1 = ('apple', 'banana', 'grapes')
tuple2 = ('orange', 'pine_apple', 'papaya')

print(tuple1 + tuple2)

('apple', 'banana', 'grapes', 'orange', 'pine_apple', 'papaya')

# Multiply Tuples

- If you want to multiply the content of a tuple a given number of times, you can use the * operator:

In [32]:
animals = ('cat', 'lion', 'monkey', 'dog')
multi_tuple = animals*3
print(multi_tuple)

('cat', 'lion', 'monkey', 'dog', 'cat', 'lion', 'monkey', 'dog', 'cat', 'lion', 'monkey', 'dog')

# Function in tuple
-Two type of function in tuple:
    - Index
    - Count

In [12]:
fruits= ('mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple')
fruits.index('orange')

3

In [13]:
# INDEX:Searches the tuple for a specified value and returns the
# position of where it was found


fruits= ('mango', 'banana', 'grapes', 'orange', 'pine-apple', 'apple')
fruits.index('apple')

5

In [17]:
# COUNT:Returns the number of times a specified value occurs in a tuple
fruits= ('mango', 'banana', 'grapes', 'banana', 'pine-apple', 'apple')
fruits.count('mango')

1

In [18]:
fruits= ('mango', 'banana', 'grapes', 'banana', 'pine-apple', 'apple')
fruits.count('banana')

2

# Slice in Tuple

- Tuple slicing is basically used to obtain a range of items.

In [34]:
tuple_slice = (1,2,3,4,304,34,13,99,102,45,67,34)

In [35]:
print(tuple_slice[4])

304

In [36]:
print(tuple_slice[0:7])

(1, 2, 3, 4, 304, 34, 13)

In [38]:
# Example : If we don’t mention the start value the range 
# by default starts from the first term


print(tuple_slice[:7])

(1, 2, 3, 4, 304, 34, 13)

In [39]:
# Example : If we don’t mention the stop value the range by default
# ends at the last term.

print(tuple_slice[7:])

(99, 102, 45, 67, 34)

In [40]:
# Example : If we don’t mention both the start and stop value
# the range by default starts from  the first term and ends at the last term.


print(tuple_slice[:])

(1, 2, 3, 4, 304, 34, 13, 99, 102, 45, 67, 34)

In [42]:
# # prints first to the last element with a step of 2
# i.e. printing the alternate element


print(tuple_slice[::2])

(1, 3, 304, 13, 102, 67)

# Negative Indexing

In [43]:
# Example : You can use negative indexes also 
# if you want to print the elements from the end.


print(tuple_slice[-2])

67

In [48]:
# Now, we can use negative indexes in slicing also


print(tuple_slice[-4:-1])

(102, 45, 67)

# Sets

- Sets are used to store multiple items in a single variable.

- Set is one of 4 built-in data types in Python used to store collections of data, the other 3 are List, Tuple, and Dictionary, all with different qualities and usage.

- A set is a collection which is unordered, unchangeable*, and unindexed.

- Note: Set items are unchangeable, but you can remove items and add new item...

- Sets are written with curly brackets {}

In [7]:
my_sets = { 'I','am', 'learning', 'python'}
my_sets

{'I', 'am', 'learning', 'python'}

In [8]:
print(type(my_sets))

<class 'set'>

In [9]:
my_sets

{'I', 'am', 'learning', 'python'}

# Duplicates Not Allowed

In [3]:
my_newSet = {'apple','banana', 'orange', 'apple','pine-apple','banana'}
my_newSet

{'apple', 'banana', 'orange', 'pine-apple'}

# Get the Length of a Set

- To determine how many items a set has, use the len() function.

In [4]:
print(len(my_newSet))

4

# Set Items - Data Types

- Set Items - Data Types:
    String, int and boolean data types:

In [6]:
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, False}
print(set1)

{'banana', 'cherry', 'apple'}

In [7]:
print(set2)

{1, 3, 5, 7, 9}

In [8]:
print(set3)

{False, True}

- A set can contain different data types:

In [23]:
mySet = {"abc", 34, True, 40, "male"}
print(mySet)

{True, 34, 40, 'male', 'abc'}

# The set() Constructor

- It is also possible to use the set() constructor to make a set.

In [10]:
thisset = set(("apple", "banana", "cherry")) # note the double round-brackets
print(thisset)

{'banana', 'cherry', 'apple'}

# Access Set Items

- You cannot access items in a set by referring to an index or a key.
- But you can loop through the set items using a for loop, or ask if a specified value is present in a set, by using the in keyword.

In [18]:
acc_set = {"apple", "banana", "cherry"};

for x in acc_set:
    print(f'The Length of {x}  is {len(x)}')

The Length of apple  is 5
The Length of banana  is 6
The Length of cherry  is 6

In [22]:
# Check if item is present in the set:


acc_set = {"apple", "banana", "cherry"}

print("banana" in acc_set)

True

In [21]:
# Check if item is present in the set:


acc_set = {"apple", "banana", "cherry"}

print("orange" in acc_set)

False

# Change Items
 - Once a set is created, you cannot change its items, but you can add new items.

# Add Set Items
 - To add one item to a set use the add() method.

In [30]:
acc_set = {"apple", "banana", "cherry"}
acc_set.add('orange')
print(acc_set)

{'banana', 'cherry', 'orange', 'apple'}

- To add items from another set into the current set, use the update() method.

In [31]:
acc_set

{'apple', 'banana', 'cherry', 'orange'}

In [33]:

new_set= {'papaya','pine-apple', 'grapes'}
acc_set.update(new_set)
print(acc_set)

{'orange', 'grapes', 'banana', 'cherry', 'papaya', 'pine-apple', 'apple'}

 # Add Any Iterable
- The object in the update() method does not have to be a set, it can be any iterable object (tuples, lists, dictionaries etc.).

In [48]:
thisset = {"apple", "banana", "cherry"}
mylist = ["kiwi", "orange"]

thisset.update(mylist)

print(thisset)

{'orange', 'banana', 'cherry', 'kiwi', 'apple'}

# Remove Set Items
- To remove an item in a set, use the remove(), or the discard() method.

In [44]:
# Example
# Remove "banana" by using the remove() method:
# Note: If the item to remove does not exist, remove() will raise an error.

thisset.remove('banana')
print(thisset)

{'orange', 'cherry', 'kiwi', 'apple'}

In [45]:
# Example
# Remove "apple" by using the discard() method:
# Note: If the item to remove does not exist, discard() will NOT raise an error.

thisset.discard('apple')
print(thisset)

{'orange', 'cherry', 'kiwi'}

# pop() method

- You can also use the pop() method to remove an item, but this method will remove the last item. Remember that sets are unordered, so you will not know what item that gets removed.

- The return value of the pop() method is the removed item.

- Note: Sets are unordered, so when using the pop() method, you do not know which item that gets removed.

In [49]:
thisset.pop()
print(x)

orange

# clear() method

In [50]:
thisset = {"apple", "banana", "cherry"}

thisset.clear()

print(thisset)

set()

# Loop Sets
 -You can loop through the set items by using a for loop:

In [57]:
thisset = {"apple", "banana", "cherry"}

for x in thisset:
    print(x)

banana
cherry
apple

# Join Sets

- Join Two Sets
- There are several ways to join two or more sets in Python.

- You can use the union() method that returns a new set containing all items from both sets, or the update() method that inserts all the items from one set into another:

- Note: Both union() and update() will exclude any duplicate items.

 # union() method 
    - It returns a new set with all items from both sets:

In [58]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{1, 2, 3, 'c', 'a', 'b'}

#  update() method 
    - inserts the items in set2 into set1:

In [59]:
set1 = {"a", "b" , "c"}
set2 = {1, 2, 3}

set1.update(set2)
print(set1)

{1, 2, 3, 'c', 'a', 'b'}

# Keep ONLY the Duplicates
   - The intersection_update() method will keep only the items that are present in both sets.
   - The intersection() method will return a new set, that only contains the items that are present in both sets.

In [60]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

# Set Methods
 - Python has a set of built-in methods that you can use on sets.

# 1: add() method

- Adds an element to the set

In [66]:
add_set =  {"apple", "banana", "cherry"}
add_set.add('myNewFruit')
print(add_set)

{'banana', 'cherry', 'myNewFruit', 'apple'}

# 2: clear() Method
    -Removes all the elements from the set

In [67]:
add_set.clear()

In [68]:
add_set

set()

# 3: copy() Method 
    - Returns a copy of the set

In [75]:
fruits = {"apple", "banana", "cherry"}

x = fruits.copy()

print(x)

{'banana', 'cherry', 'apple'}

# 4: difference() Method	
   - Returns a set containing the difference between two or more sets
   - Return a set that contains the items that only exist in set x, and not in set y:

In [76]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}
z= x.difference(y)
print(z)

{'banana', 'cherry'}

# 5: difference_update() Method
      - Removes the items in this set that are also included in another, specified set

In [77]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.difference_update(y)

print(x)

{'banana', 'cherry'}

# 6: intersection_update() Method
        - Removes the items in this set that are not present in other, specified set(s)
        - Remove the items that is not present in both x and y:

In [78]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.intersection_update(y)

print(x)

{'apple'}

# 7: isdisjoint() Method
       - Returns whether two sets have a intersection or not
       - Return True if no items in set x is present in set y:

In [79]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "facebook"}

z = x.isdisjoint(y)

print(z)

True

# 8: issubset() Method
     - Returns whether another set contains this set or not
     - Return True if all items in set x are present in set y:

In [80]:
x = {"a", "b", "c"}
y = {"f", "e", "d", "c", "b", "a"}

z = x.issubset(y)

print(z)

True

# 9 : issuperset() Method
      - Returns whether this set contains another set or not
      - Return True if all items set y are present in set x:

In [81]:
x = {"f", "e", "d", "c", "b", "a"}
y = {"a", "b", "c"}

z = x.issuperset(y)

print(z)

True

# 10: symmetric_difference()
    - Returns a set with the symmetric differences of two sets
    - Return a set that contains all items from both sets, except items that are present in both sets:

In [82]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.symmetric_difference(y)

print(z)

{'google', 'banana', 'cherry', 'microsoft'}

# 11: symmetric_difference_update() Method
    - inserts the symmetric differences from this set and another
    - Remove the items that are present in both sets, AND insert the items that is not present in both sets:

In [83]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'cherry', 'microsoft'}