In [1]:
# int + int

print(6+64)

70

In [2]:
 # int + float                      // int is less priority tha float
    
print(64 + 18.3463829)

82.3463829

In [3]:
 print(5*134.33)

671.6500000000001

In [4]:
 # if we want two digits after point
    
round(671.6500000000001, 2)

671.65

In [5]:
 # if we want just before point
    
round(671.6500000000001)

672

# division

In [6]:
# int divided by int but the output is not int , its float...

print(40/20)

2.0

In [7]:
print(180/2)

90.0

In [8]:
# if we want not to output is float

print(180//2)

90

 # Modulus / Modulo %

In [9]:
# it return remainder

print(10%4)

2

In [10]:
15%10

5

In [11]:
120%5

0

# Greater than  // jis ki trf mu khulta hO,,

In [12]:
# it return true/ false

10>12

False

In [13]:
12<10

False

In [14]:
100<200

True

In [15]:
200>100

True

# Greater than equal to

In [16]:
# IF returns true / false

12>=10

True

In [17]:
12<=10

False

 # Less than equal to

In [18]:
50<=90

True

In [19]:
200<=1

False

# equal to
    syntax  var == var

In [20]:
100 == 100

True

In [21]:
500 == 1000

False

# not equal to
    var != var

In [22]:
12!=12

False

In [23]:
50!=10

True

# unary operators

In [24]:
# A unary operator is an operator which works on a single operand.
# Python support unary minus operator(-). 
# When an operand is preceded by a minus sign,
# then the unary operator negates its value.

In [25]:
#      2      +          2     = 4
# operand  operator   operand

# 1) increament operators

In [26]:
# increment the variable using “+=”

age = 12
age

12

In [27]:
age+= 2
age

14

In [28]:
salary = 35000

In [29]:
salary+=500
salary

35500

In [30]:
ticket = 400
print(ticket)

400

In [31]:
# increased by 200
ticket+= 200
ticket

600

# Decreament

In [32]:
 bp = 180

In [33]:
bp-=2

In [34]:
bp

178

# Type Casting

In [35]:
# a method used to change the variables/ values declared in a certain data type
# into a different data type to match the operation 
# required to be performed by the code snippet

In [36]:
mark = 50

In [37]:
# we want to change the int into float so we will wrapped on the mark

float(mark)

50.0

In [38]:
# we want to change the float into str so we will wrapped on the mark

In [39]:
str(mark)

'50'

In [40]:
urdu = 46.76              # float

In [41]:
# change into str
str(urdu)

'46.76'

In [42]:
# # change into int
int(urdu)

46

In [43]:
#  note
# We lose the point value after wrapping the int

In [44]:
code = "Maria";       #str

In [45]:
int(code)           # we can't change the str,

ValueError: invalid literal for int() with base 10: 'Maria'

# User Input

In [ ]:

# Remember "The Input given at the console by user is always string"

# Python allows for user input.
# That means we are able to ask the user for input.

In [64]:
name = input("What's your good name: ");

What's your good name: Maria

In [ ]:
print(type(name));     # bcz it returns str.

# String Concatenation with user input

In [65]:
age = input('Enter your age: ');

Enter your age: 20

In [66]:
type(age)

str

In [67]:

print('The age is ' + age)
  #  _____str______  + _str_    # Concatenate successfully

The age is 20

In [68]:
# If we want to increase the age..

print('After five years user age will be ' + age+5) 

#   _______________str___________________ +_ str+ int_

TypeError: can only concatenate str (not "int") to str

In [ ]:
# The prob of above cell is : age is String and we are adding up age with int.
# therefore typing Error..

In [69]:
# We cant concatenate str+int..
#So therefore we use "TYPE CASTING"..


print('After five years user age will be ' +  int(age)+5); 

       # ________________str______________ + ___int__+_int

TypeError: can only concatenate str (not "int") to str

In [70]:
# the prob of above cell is : although we change age(str) into age(int), but 
# even then we got an error..bcz we cant concatenate str+int, so now we have 
# to change int into str....

print('After five years user age will be ' + str(int(age)+5)); 

     # ______________________str___________+ _________str______

After five years user age will be 25

In [72]:
#  Exapmple _2_

book = 10
print('The books on the table are : ' + str(book));

The books on the table are : 10

In [73]:
# Example _3_

stud_name = input('Enter your name')
stud_age =  input('Enter your age')
print(type(stud_name), type(stud_age))

Enter your name Maria
Enter your age 20
<class 'str'> <class 'str'>

In [74]:
stud_name = input('Enter your name')
stud_age =  int(input('Enter your age'))
print(type(stud_name), type(stud_age))

Enter your name Maria
Enter your age 20
<class 'str'> <class 'int'>

In [75]:
print('Dear student! your name is ' + stud_name + ' and your age is ' + str(stud_age))

Dear student! your name is  Maria and your age is 20

 # String Formation...

In [ ]:
#  String formatting is known as String interpolation.
# It is the process of inserting a custom string or variable in predefined text

# custom_string = "String formatting"
# print(f"{custom_string} is a powerful technique")

In [49]:
stud_age = int(input('Enter your age'));
stud_name = input('Enter your name');
print('Dear student! your name is ' + stud_name + ' and your age is ' + str(stud_age))

Enter your age20
Enter your namemaria
Dear student! your name is maria and your age is 20

#  ******** String.Format Method *********

In [ ]:
#         

#We put placeholders defined by a pair of curly braces in a text. 
#We call the string dot format method. 

# print(  'text{}'.format(value) );

In [51]:
                #or
print('Dear student! your name is {} and your age is {}'.format(stud_age, stud_name))

Dear student! your name is 20 and your age is maria

# ********Positional Formatting

In [55]:
# We define a string and insert two placeholders. 
# We pass two strings to the method,

In [ ]:
# print( text{} text{}.format('value', 'value'))

In [57]:
print('Dear user your name is {} and your age is {}'.format('Maria', '20'))

Dear user your name is Maria and your age is 20

In [58]:
# We can use variables for both the string and the values passed to the method.


user_data= "Dear User your name is {} and your age is {}"
name = 'maria'
age = '20'

print(user_data.format(name,age))

Dear User your name is maria and your age is 20

In [63]:
# If we add the index numbers, the replacement order changes accordingly.


print('Dear user your name is {0} and your age is {1}'.format('maria', '20'))

Dear user your name is maria and your age is 20

In [53]:
# Another ways to String Formation..


# print(f " text{value} text{value}")


print(f'Dear student! your name is { stud_name} and your age is { stud_age}')

Dear student! your name is maria and your age is 20